<ion-header translucent>
    <ion-toolbar>
      <ion-title>Agregar Categoría</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="close()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Nombre de la categoría</ion-label>
      <ion-input [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>
  
    <ion-button expand="block" class="ion-margin-top" (click)="addCategory()" [disabled]="!name.trim()">
      Guardar Categoría
    </ion-button>
  </ion-content>
  