<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list *ngIf="categories.length > 0; else noCats">
    <ion-item *ngFor="let cat of categories">
      <ion-label>{{ cat.name }}</ion-label>
      <ion-button fill="clear" color="primary" (click)="editCategory(cat)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" slot="end" (click)="deleteCategory(cat.id)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ng-template #noCats>
    <ion-text color="medium">
      <p>No hay categorías aún. ¡Agrega una!</p>
    </ion-text>
  </ng-template>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAddCategoryModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
