<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="selectedCategoryId" (ionChange)="filterTasks()">
      <ion-select-option [value]="''">Todas</ion-select-option>
      <ion-select-option *ngFor="let cat of categories" [value]="cat.id">
        {{ cat.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item [ngClass]="{ 'completed-task': task.completed }">
        <ion-label>
          <h2>{{ task.title }}</h2>
          <p *ngIf="task.categoryId">
            Categoría: {{ getCategoryName(task.categoryId) }}
          </p>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="task.completed" (ionChange)="toggleComplete(task)"></ion-checkbox>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTask(task.id)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
